<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width,initial-scale=1.0" />
            <title>My Skill</title>
            <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
            <link rel="icon" href="/images/fav.jpg" type="icon"/>
            <link rel="stylesheet" href="/remixicon/remixicon.css" type="text/css">
            <link rel="stylesheet" href="/css/all.min.css" type="text/css"/>
            <link rel="stylesheet" href="/fonts/stylesheet.css" type="text/css"/>
            <link rel="stylesheet" href="/css/animate.css" type="text/css"/>
            <link rel="stylesheet" href="/css/skill.css" type="text/css"/>
        </head>
        <body>
            <header class="navbar navbar-expand-lg py-3 w-100">
                <div class="container">
                    <div class="logo">
                        <h2><a href="/" class="nav-link d-flex justify-content-center align-items-center fw-semibold transition"><img src="images/fgh.png" alt=""> ishant</a></h2>
                    </div>
                    <button class="navbar-toggler text-center lh-1" type="button" data-bs-toggle="collapse"data-bs-target="#abc">
                        <i class="ri-menu-line text-white fs-3"></i>
                    </button>
                    <nav class="collapse navbar-collapse justify-content-end" id="abc">
                        <ul class="navbar-nav">
                            <li><a href="/" class="nav-link text-white fw-semibold position-relative mx-2 px-1 transition">Home</a></li>
                            <li><a href="/about" class="nav-link text-white fw-semibold position-relative mx-2 px-1 transition">About Me</a></li>
                            <li><a href="/skill" class="nav-link text-white fw-semibold position-relative mx-2 px-1 transition">My Skills</a></li>
                            <li><a href="/portfolio" class="nav-link text-white fw-semibold position-relative mx-2 px-1 transition">Portfolio</a></li>
                            <li><a href="/contact" class="nav-link text-white fw-semibold position-relative mx-2 px-1 transition">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <main>
                <section class="skill py">
                    <div class="container">
                        <div class="skill-contain p-5 wow bounceInUp" data-wow-duration="2s" data-wow-delay="0">
                            <div class="skill-title">
                                <span class="position-relative text-white-50 lh-1 fw-semibold">SKILLS</span>
                                <h2 class="mb-4 text-white fw-semibold text-uppercase">Introducing My Skills</h2>
                            </div>
                            <div class="row justify-content-center align-items-center">
                                <div class="col-lg-3 col-md-6">
                                    <div class="perecent my-3 d-flex justify-content-center align-items-center flex-column">
                                        <div class="circle d-flex justify-content-center align-items-center mb-2">
                                            <img src="/images/html-5.png" alt="html" title="skill">
                                        </div>
                                        <h5 class="text-white mt-3">HTML/HTML 5</h5>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="perecent my-3 d-flex justify-content-center align-items-center flex-column">
                                        <div class="circle d-flex justify-content-center align-items-center mb-2">
                                            <img src="/images/css-3.png" alt="css" title="skill">
                                        </div>
                                        <h5 class="text-white mt-3">CSS/CSS 3</h5>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="perecent my-3 d-flex justify-content-center align-items-center flex-column">
                                        <div class="circle d-flex justify-content-center align-items-center mb-2">
                                            <img src="/images/responsive-design.png" alt="responsive" title="skill">
                                        </div>
                                        <h5 class="text-white mt-3">RESPONSIVE DESIGN</h5>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="perecent my-3 d-flex justify-content-center align-items-center flex-column">
                                        <div class="circle d-flex justify-content-center align-items-center mb-2">
                                            <img src="/images/saas.png" alt="sass" title="skill">
                                        </div>
                                        <h5 class="text-white mt-3">SASS/LESS</h5>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="perecent my-3 d-flex justify-content-center align-items-center flex-column">
                                        <div class="circle d-flex justify-content-center align-items-center mb-2">
                                            <img src="/images/bootstrap.png" alt="bootstrap" title="skill">
                                        </div>
                                        <h5 class="text-white mt-3">BOOTSTRAP</h5>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="perecent my-3 d-flex justify-content-center align-items-center flex-column">
                                        <div class="circle d-flex justify-content-center align-items-center mb-2">
                                            <img src="/images/jquery-removebg-preview.png" alt="J-query" title="skill" width="64px">
                                        </div>
                                        <h5 class="text-white mt-3">J-QUERY</h5>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="perecent my-3 d-flex justify-content-center align-items-center flex-column">
                                        <div class="circle d-flex justify-content-center align-items-center mb-2">
                                            <img src="/images/wordpress.png" alt="wordpress" title="skill">
                                        </div>
                                        <h5 class="text-white mt-3">WORDPRESS</h5>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="perecent my-3 d-flex justify-content-center align-items-center flex-column">
                                        <div class="circle d-flex justify-content-center align-items-center mb-2">
                                            <img src="/images/budget.png" alt="accounting" title="skill">
                                        </div>
                                        <h5 class="text-white mt-3">ACCOUNTING</h5>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="perecent my-3 d-flex justify-content-center align-items-center flex-column">
                                        <div class="circle d-flex justify-content-center align-items-center mb-2">
                                            <img src="/images/node.png" alt="accounting" title="skill">
                                        </div>
                                        <h5 class="text-white mt-3">Node Js</h5>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="perecent my-3 d-flex justify-content-center align-items-center flex-column">
                                        <div class="circle d-flex justify-content-center align-items-center mb-2">
                                            <img src="/images/mongodb.png" alt="accounting" title="skill" style="background-color: aliceblue; border-radius: 50%;">
                                        </div>
                                        <h5 class="text-white mt-3">MongoDb</h5>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="perecent my-3 d-flex justify-content-center align-items-center flex-column">
                                        <div class="circle d-flex justify-content-center align-items-center mb-2">
                                            <img src="/images/express.png" alt="accounting" title="skill">
                                        </div>
                                        <h5 class="text-white mt-3">Express js</h5>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="perecent my-3 d-flex justify-content-center align-items-center flex-column">
                                        <div class="circle d-flex justify-content-center align-items-center mb-2">
                                            <img src="/images/api.png" alt="accounting" title="skill">
                                        </div>
                                        <h5 class="text-white mt-3">Api</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- basic skill -->

                <section class="basic pb">
                    <div class="container">
                        <div class="basic-title">
                            <span class="position-relative text-white-50 lh-1 fw-semibold"> BASIC SKILLS</span>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="basic-content my-3 px-2 py-3 d-flex justify-content-center align-items-center">
                                    <img src="/images/sql.png" alt="basic" title="word">
                                    <h6 class="text-white mb-0 ms-2">SQL</h6>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="basic-content my-3 px-2 py-3 d-flex justify-content-center align-items-center">
                                    <img src="/images/word.png" alt="basic" title="word">
                                    <h6 class="text-white mb-0 ms-2">Microsoft Word</h6>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="basic-content my-3 px-2 py-3 d-flex justify-content-center align-items-center">
                                    <img src="/images/excel.png" alt="basic" title="excel">
                                    <h6 class="text-white mb-0 ms-2">Microsoft Excel</h6>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="basic-content my-3 px-2 py-3 d-flex justify-content-center align-items-center">
                                    <img src="/images/powerpoint.png" alt="basic" title="powerpoint">
                                    <h6 class="text-white mb-0 ms-2">Microsoft PowerPoint</h6>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="basic-content my-3 px-2 py-3 d-flex justify-content-center align-items-center">
                                    <img src="/images/notebook.png" alt="basic" title="Notepad">
                                    <h6 class="text-white mb-0 ms-2">Microsoft Notepad</h6>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="basic-content my-3 px-2 py-3 d-flex justify-content-center align-items-center">
                                    <img src="/images/office.png" alt="basic" title="office">
                                    <h6 class="text-white mb-0 ms-2">Microsoft Office</h6>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="basic-content my-3 px-2 py-3 d-flex justify-content-center align-items-center">
                                    <img src="/images/one-note.png" alt="basic" title="one-note">
                                    <h6 class="text-white mb-0 ms-2">Microsoft OneNote</h6>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="basic-content my-3 px-2 py-3 d-flex justify-content-center align-items-center">
                                    <img src="/images/paint.png" alt="basic" title="paint">
                                    <h6 class="text-white mb-0 ms-2">Microsoft Paint</h6>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="basic-content my-3 px-2 py-3 d-flex justify-content-center align-items-center">
                                    <img src="/images/photoshop (1).png" alt="basic" title="photoshop">
                                    <h6 class="text-white mb-0 ms-2">Adobe Photoshop</h6>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="basic-content my-3 px-2 py-3 d-flex justify-content-center align-items-center">
                                    <img src="/images/search-engine-optimization.png" alt="basic" title="seo">
                                    <h6 class="text-white mb-0 ms-2">SEO</h6>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="basic-content my-3 px-2 py-3 d-flex justify-content-center align-items-center">
                                    <img src="/images/checklist.png" alt="basic" title="auditing">
                                    <h6 class="text-white mb-0 ms-2">Finance Auditing</h6>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="basic-content my-3 px-2 py-3 d-flex justify-content-center align-items-center">
                                    <img src="/images/data.png" alt="basic" title="data entry">
                                    <h6 class="text-white mb-0 ms-2">Data Entries</h6>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="basic-content my-3 px-2 py-3 d-flex justify-content-center align-items-center">
                                    <img src="/images/tax.png" alt="basic" title="tax">
                                    <h6 class="text-white mb-0 ms-2">Income Tax Return</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <script src="/js/jquery.min.js" type="text/javascript"></script>
            <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
            <script src="/js/wow.min.js" type="text/javascript"></script>
            <script>
                //    header
                $(window).scroll (function(){
                        if($(this).scrollTop() > 100){
                            $('header').addClass('active');
                        }
                        else{
                            $('header').removeClass('active');
                        }
                });
                wow = new WOW(
                             {
                             boxClass:     'wow',      // default
                             animateClass: 'animated', // default
                             offset:       0,          // default
                             mobile:       true,       // default
                             live:         true        // default
                           }
                           )
                wow.init();
           </script>
        </body>
    </html>